<h1>Photo Details</h1>

<dl>
  <dt>Image</dt>
  <dd></dd>

  <dt>Caption</dt>
  <dd></dd>

  <dt>Owner</dt>
  <dd></dd>

  <dt>Posted</dt>
  <dd></dd>

  <dt>Edit photo</dt>
  <dd></dd>

  <dt>Delete photo</dt>
  <dd></dd>
</dl>
